body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image:url(_5f81e561-ec89-4ea7-abe0-e06d6aeb3c41.jpeg) ;
    background-size: cover;
    background-repeat: repeat;
}

.contenedor {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
}
h2{
   text-align: center;
 }
form {
    margin-bottom: 20px;
    display: flex;
   
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 70%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 8px 15px;
    background-color: #a3b7a3;
    color: #13110f;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}


button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

#taskList li {
    font-size: 16px; 
    padding: 15px; 
    background-image: linear-gradient(to right, rgba(5, 117, 31, 0.665), rgba(20, 222, 67, 0.665));
    margin-bottom: 10px; 
    border-radius: 10px;
    text-align: left; 
}

#taskList li button {
    padding: 8px 12px; 
    border-radius: 5px;
    right: 10px;
    
}
#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

#calendar div {
    text-align: center;
    padding: 10px;
    background-color: #e0e0e0;
}

#markedList li {
    font-size: 16px; 
    padding: 15px; 
    background-image: linear-gradient(to right, rgba(44, 8, 127, 0.665), rgba(173, 136, 223, 0.665));
    margin-bottom: 10px; 
    border-radius: 10px;
    text-align: left; 
}
/* calendario*/
.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
}
.day {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}