body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image:url(_5f81e561-ec89-4ea7-abe0-e06d6aeb3c41.jpeg) ;
    background-size: cover;
    background-repeat: repeat;
}

.contenedor {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
    text-align: center;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 70%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    padding: 8px 15px;
    background-color: #4caf50;
    color: #13110f;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #dff0d8;
    padding: 10px;
    margin-bottom: 5px;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

#calendar div {
    text-align: center;
    padding: 10px;
    background-color: #e0e0e0;
}